<h1>Change Band Name</h1>

<form action="<%= band_url(@band) %>" method="POST">
<input type='hidden' name='_method' value='PATCH' >
    <label>Current Band Name: <%= @band.name %> </label>
    <br>
  <label for="name">Change Band Name To:</label>
  <input type="text" name="band[name]" id="name" value=""> 
  <br>
  <input type="submit" value="Change">
</form>